@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f3ed;
}

.menu-bar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    align-items: center;
    width: 100%;
}

.logo > h1 {
    font-family: 'Quicksand', sans-serif;
    padding-left: 55px; 
    margin-top: 0.4rem;
    letter-spacing: 10px;
    font-size: 45px;
    font-weight: 600;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 334px;
  height: 43px;
  margin: 30px ;
  margin-left: 466px;
}

.search-box > input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #8b7d77;
  width: 79%;
  height: 100%;
  padding: 10px 20px;
}

.search-box .common_button {
  border: 1px solid black;
  width: 60px;
  background-color: #000;
  z-index: 1;
  cursor: pointer;
}

.search-box .common_button:hover {
  opacity: 0.7;
}

.search-box .common_button .fa-solid {
  display: flex;
  margin-top: 22%;
  align-content: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  font-size: 22px;
  line-height: 0.8;
}

.user-options > ul {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.user-options > ul > li {
  opacity: 0.65;
  list-style: none;
  font-size: 19px;
}

.user-options > ul > li > a {
  padding: 0 10px; 
}

.user-options > ul > li:hover {
  opacity: 1;
}

.icon-number {
  position: relative;
  color: #000; 
  font-size: 15px;
}

.user-options > ul > li > a {
  text-decoration: none; 
}

.navigation-bar > nav > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 12px;
}

.navigation-bar > nav > div > ul > li {
  list-style: none;
}

.navigation-bar > nav > div > ul > li > a {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.navigation-bar > nav > div > ul > li > a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5px;
  background-color: rgba(224, 0, 0, 1);
  width: 0;
  transition: width 0.3s;
}

.navigation-bar > nav > div > ul > li > a:hover::before {
  width: 100%;
}

.navigation-bar > nav > div > ul > li > a:hover {
  color: rgb(189, 2, 2, 1);
}
